body {
    background: linear-gradient(to right, #001a66, #004d33);
    color: white;
}

.agregarTitle {
    text-align: center;
    font-family: Handjet, serif;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.volver {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.contFormulario {
    margin: auto;
    background-color: #00000033;
    border-radius: 20px;
}


input {
    padding: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #00000044;
    margin-bottom: 20px;
    color: white;
}

textarea {
    padding: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #00000044;
    margin-bottom: 20px;
    color: white;
}

select {
    padding: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #000;
}

.imagen {
    padding: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #00000044;
    margin-bottom: 20px;
    color: white;
}


h1 {
    text-align: center;
}



