.pokemonImageContainer {
    width: 50%;
    margin: 0 auto;
}

.tip{
    border-radius: 20px;
}

.pokemonImageContainer > img {
    width: 100%;
}

.pokemonCard {
    background-color: #4c4c4c;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 116px 10px rgba(255,255,255,0.39);
    border: 1px solid rgba(255,255,255,0.39);
}

