* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #2f2f2f;
}

header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #2a5d84;
}

header > div {
    height: 80px;
}

.headerImageContainer {
    height: 70%;
    object-fit: contain;
    overflow: visible;
}

.headerImageContainer > img {
    width: auto;
    height: 100%;
}

.box2{
    height: 100%;
}

main {
    min-height: calc(100vh - 100px);
}

button {
    border: none;
    outline: none;
    padding: 7px 15px;
    background-color: #2a5d84;
    color: #fff;
    border-radius: 1rem;
    transition: all .3s;
    font-size: 0.8rem;
    font-family: sans-serif;
}
button > svg {
    font-size: 0.5rem;
}

.btnSecondary {
    background-color: #c39b04 !important;
    color: #000 !important;
}

/* BOX HELPERS */
.bor1 {
    border: 5px solid red;
}

.bor2 {
    border: 5px solid yellow;
}

.bor3 {
    border: 5px solid blue;
}

footer {
    border-top: 1px solid #2a5d84;
    background-color: #1a1a1a;
}

.footerImage {
    width: 200px;
}

.footerColBorder {
    border-left: 1px solid #fff;
}



@media (min-width: 576px) {
    header > div {
        height: 100px;
    }
    .headerImageContainer {
        height: 80%;
    }
    button {
        padding: 10px 20px;
    }
    button > svg {
        font-size: 1rem;
    }
}




