* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #2f2f2f;
}

header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #2a5d84;
}

header > div {
    height: 100px;
    width: fit-content;
}

.headerImageContainer {
    width: auto;
    height: 80px;
    object-fit: contain;
    overflow: visible;
}

.headerImageContainer > img {
    width: auto;
    height: 100%;
}

.wrapperHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2{
    height: 100%;
}

main {
    min-height: calc(100vh - 100px);
}

button {
    width: 150px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #2a5d84;
    color: #fff;
    border-radius: 1rem;
    transition: all .3s;
}

/* BOX HELPERS */
.bor1 {
    border: 5px solid red;
}

.bor2 {
    border: 5px solid yellow;
}

.bor3 {
    border: 5px solid blue;
}


.footerImage {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}



@media (max-width: 576px) {
    .headerImageContainer {
        height: 50px;
    }

    button {
        width: 125px;
        padding: 5px 10px;
        font-size: 14px;
    }
}




