body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Monospace;
}

h1{
    margin: 20px;
    text-align: center;
    font-weight: 600;
}

.formulario{
  display: flex;
    justify-content: center;
}

form{
    font-family: sans-serif;
    margin: 1.5em;
    width: 30%;
    padding:40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff33;
    border-radius: 10px;
}

input::placeholder{
    color: #00000055;
}

label{
    align-self: flex-start;
}


input{
    width: 350px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    background-color: #ffffff44;
    margin-bottom: 10px;
}

.botoncito{
    margin-top:20px;
    width: 200px;
    background-color: #ff7e5f;
    align-self: center;
    border: 1px solid #ff7e5f;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.botoncito:hover {
    background-color: rgba(255, 79, 47, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
}
